.button-custom {
  background-color: var(--blue-color);
  border: none;
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
  transition: background-color 100ms ease-in;
  min-width: 100px;
  min-height: 40px;
}
.button-custom:hover {
  background-color: #27549c;
  transition: background-color 100ms ease-in;
}
.button-custom:disabled {
  background-color: var(--blue-color-disabled);
  color: #c2c2c2;
}
