.carrousel {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .no-carrousel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon-container {
      position: relative;
    }
    .primary-icon {
      font-size: 200px;
    }
    .secondary-icon {
      font-size: 100px;
      color: red;
      position: absolute;
      bottom: 0px;
      right: -30px;
      animation: scale-bounce 2s ease-in-out infinite;
    }
  }
}
.carrousel img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  transition: opacity 300ms ease;
}

@media (max-width: 683px) {
  .carrousel {
    height: 200px;
  }
}
.carrousel div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
