.carrousel {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.carrousel img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  transition: opacity 300ms ease;
}

@media (max-width: 683px) {
  .carrousel {
    height: 200px;
  }
}
.carrousel div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
