.modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
}

.modal-box {
  border-radius: 10px;
}
.modal-button-close {
  color: rgb(231, 40, 40);
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}
.modal-button-close:hover {
  color: white;
  background-color: rgb(231, 40, 40);
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.modal-title {
  min-height: 10%;
  position: relative;
  padding: 10px;
}
.modal-cuerpo {
  padding: 10px;
}
.modal-bottom {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.modal-size-sm {
  width: 350px;
  height: 60%;
}
.modal-size-md {
  width: 500px;
  height: 90%;
}
.modal-size-lg {
  width: 90%;
  height: 90%;
}
@media (max-width: 682px) {
  .modal-box {
    width: 100%;
  }
}
