.modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  border-radius: 10px;
  height: 90%;
  width: 90%;
}
.modal-button-close {
  color: rgb(231, 40, 40);
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}
.modal-button-close:hover {
  color: white;
  background-color: rgb(231, 40, 40);
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.modal-title {
  min-height: 10%;
  position: relative;
  padding: 10px;
}
.modal-cuerpo {
  padding: 10px;
}
