.modal-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  border-radius: 10px;
  height: 90%;
  width: 90%;
}
.modal-button-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal-title {
  min-height: 10%;
  position: relative;
  padding: 10px;
}
.modal-cuerpo {
  padding: 10px;
}
