.ScrollbarsCustom {
  width: 100%;
  height: 100%;
}
.ScrollbarsCustom-Wrapper {
  width: 100%;
  height: 100%;
}

.ScrollbarsCustom-Content {
  width: 100%;
  height: 100%;
}

.ScrollbarsCustom-Track {
  position: absolute;
  overflow: hidden;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  user-select: none;
  width: 10px;
  height: calc(100% - 20px);
  top: 10px;
  right: 0px;
}

.ScrollbarsCustom-Thumb {
  transform: translateY(74.966px);
  height: 418.017px;
  cursor: pointer;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
