.sitios-interes {
  width: 100%;
  min-height: 200px;
  display: flex;
  position: relative;
  img {
    scroll-snap-align: center;
    left: 0;
  }

  img:hover {
    opacity: 0.5;
    transition: all 100ms ease-in;
  }
  .prev-card-button {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    opacity: 0.5;
    z-index: 1;
  }

  .next-card-button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    opacity: 0.5;
    z-index: 1;
  }
  .slider-container {
    display: none;
  }
  .slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    flex-grow: 1;
  }
  @media (min-width: 683px) {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  @media (max-width: 682px) {
    .slider-card {
      display: none;
    }
    .next-card-button,
    .prev-card-button {
      display: flex;
    }
    .slider-container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      a {
        position: absolute;
        display: block;
      }
    }
    .slider {
      display: none;
    }
  }
}
