.white-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 40px;
  nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.images-container {
  display: flex;
  align-items: flex-start;
  width: 50%;
  a {
    img {
      height: 50px;
    }
  }
  @media (max-width: 682px) {
    display: none;
  }
}

@media (max-width: 682px) {
  .white-bar {
    display: flex;
    min-height: 40px;
  }
}
