@import "../src/assets/css/Carrousel.css";
@import "../src/assets/css/Dropdown.css";
@import "../src/assets/css/NoticiaCard.css";
@import "../src/assets/css/Modal.css";
@import "../src/assets/css/HTMLEditor.css";
@import "../src//assets//css/NavTabsUser.css";
@import "../src/assets/css/UserSideBar.css";
@import "../src/assets/css/ConvocatoriaCard.css";
@import "../src/assets/css/Scrollbar.css";
@import "../src/assets/css/SearchByLabel.css";
@import "../src/assets/css/Accordion.css";
@import "../src/assets/css/Tabla.css";
@import "../src/assets/css/NavBar.css";
@import "../src/assets/css/WhiteBar.css";
@import "../src/assets/css/GobBar.css";
@import "../src/assets/css/Article.css";
@import "../src/assets/css/Footer.css";
@import "../src/assets/css/NoContent.css";
@import "../src/assets/css/SitiosLocales.css";
@import "../src/assets/css/SitiosInteres.css";
@import "../src/assets/css/NoticiasSection.css";
@import "../src/assets/css/LoadingContent.css";
@import "../src/assets/css/SectionContainer.css";
@import "../src/assets/css/Convocatorias.css";
@import "../src/assets/css/Login.css";
@import "../src/assets/css/Button.css";

.bg-dark-mode {
  background-color: #000;
}
.bg-dark-mode-base {
  background-color: #121212;
}

.enlacesGob:hover {
  opacity: 0.7;
  background-color: #f6f6f6;
}

.fit-content-width {
  width: fit-content;
}
.h-5 {
  height: 5%;
}

.h-10 {
  height: 10%;
}
.h-15 {
  height: 15%;
}
.h-20 {
  height: 20%;
}
.h-30 {
  height: 30%;
}
.h-60 {
  height: 60%;
}
.h-80 {
  height: 80%;
}
.h-90 {
  height: 90%;
}

.w-90 {
  width: 90%;
}
.w-85 {
  width: 85%;
}
.w-15 {
  width: 15%;
}
.w-50px {
  width: 100px;
}
.w-100px {
  width: 100px;
}
.w-150px {
  width: 150px;
}
.w-200px {
  width: 200px;
}
.w-0 {
  width: 0px;
}
.h-10px {
  height: 10px;
}

.imageOpacity img:hover {
  opacity: 0.7;
}
.blueBackground {
  background-color: rgb(27, 57, 106);
}

.customWrapper {
  display: flex;
  flex-direction: column;
}
.customEditor {
  flex-grow: 1;
}

.image-fit {
  object-fit: cover;
}
.no-resize {
  resize: none;
}
.main-container {
  overflow-y: auto;
  flex-grow: 1;
  width: 100%;
  perspective: 10px;
  overflow-x: hidden;
}
